body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
      
}
h3{
    color: rgb(54,57,88);
}
.bar a{
    text-decoration: none;
    margin-left: 75%;
    color: rgba(59, 59, 59);   
}

#margin{
    margin-left: 2%;
}

.mp-peragaraph{
    color: dimgray;
    font-size: 15px;
    margin-bottom: 8%;
    
}
.color-highlight{
    color: rgb(255, 131,103);
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(238, 138, 129), rgb(246, 106, 102));
    font-size: 15px;
    padding: 15px 45px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button{
    border: none;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    margin-bottom: 200px;
}
.working-project-area{
    height: 800px;
    margin-bottom: 200px;
    background-color: rgb(248, 249,252);
}
.single-project{
    width: 25%;
    height: 40%;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    float: left;
    margin-left: 1%;
    
}
.single-project img{
    width: 100%;
}
.work{
    text-align: center;
    margin: 2% 2%;
    padding: 10% 2%;
}
#center-postion{
    margin-left: 10%;
}
.work-inqury-area{
    height: 300px;
    margin-bottom: 150px;
}
.work-inqury{
    margin-left: 18%;
    width: 60%;
    height: 70%;
    background-image: url(resourse/images/bg-last.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
#left-float{
    float: left;
    margin: 5% 5%;
    padding: 5% 2%;
    color: white;

}
#right{
    float: right;
    margin: 10% 5%;
    
}
footer{
    text-align: center;
}
p{
    color: dimgray;
    font-size: 15px;
}
footer img{
    width: 5%;
    height: 5%;
    margin-left: 2%;
}

